.our-story {

    .story {
        margin: 10px 0;
        float: left;
    }

    .story:first-of-type{
        margin-top: 0;
    }

    img.left {
        float: left;
    }

    img.right {
        float: right;
    }

    img {
        margin: 20px;
    }
}