.content-container {
    background-color: orange;
    width: 100%; 
    background-size: 'cover'; 
    position: 'relative';

    .content-sub-container {
        padding: 30px;
    }

    h2 {
        .content-header-font();
        text-align: center;
    }

    .content-description{
        .content-font();
    }

}