@figure-width: 40%;

.profile {
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    margin: 20px 0;
    overflow: auto;

    &:after {
        clear: both;
        content: "";
        display: table;
    }
    figure {
        width: @figure-width;
        position: relative;
        display: inline-block;
        img {
            width: 100%;
        }
        figcaption {
            width: 100%;
            background-color: blue;
            text-align: center;
        }
    }
    .description {   
        padding-left: 30px;
        width: (100% - @figure-width);
        float: right;
        
        .name {
            color: @off-black;
            font-size: @font-title;
        }
    }

}